{% load static from staticfiles %}
{% load url_resolver %}
{{ widget }}
{% load wagtailadmin_tags %}

<div class="field {{ field|fieldtype }} {{ field|widgettype }} {{ field_classes }}">
    {% if show_label|default_if_none:True %}{{ field.label_tag }}{% endif %}
    <div class="field-content">
        <div class="input {{ input_classes }} ">
            {% block form_field %}
                {{ field|render_with_errors }}
            {% endblock %}
                {% if  field|can_add_related %}
                    {{ field|get_related_url }}
                {% endif %}
            <span></span>
        </div>
        {% if show_help_text|default_if_none:True and field.help_text %}
            <p class="help">{{ field.help_text }}</p>
        {% endif %}

        {% if field|has_unrendered_errors %}
            <p class="error-message">
                {% for error in field.errors %}
                    <span>{{ error|escape }}</span>
                {% endfor %}
            </p>
        {% endif %}
    </div>
</div>
