@media screen and (max-width: 1199px) {
  .header-top{
    padding-right: 40px;
  }
  .login-form{
    margin-right: 0;
  }
  .right-option{
    width: 75%;
  }
  aside.twitter-sidebar{
    padding-right: 15px;
  }
  .sidebar-right{
    margin-top: 30px;
  }
  .sidebar-right .video-block .video-part{
    width: 25%;
  }
  .trending-page .video-block .video-detail{
    padding-right: 30px;
  }
}
@media screen and (max-width: 991px) {
  .header-top{
    padding: 7px 20px;
  }
  .header-bottom{
    padding: 20px;
  }
  .language-form select{
    margin-left: 15px;
  }
  .site-header .navbar-brand{
    left: 20px;
  }
  .login-header{
    padding: 21px 20px 21px 250px;
  }
  .right-option .list-inline-item:not(:last-child){
    margin-right: 15px;
  }
  .main-content{
    padding: 190px 0 30px;
  }
  .sidebar-right .video-block .video-detail{
    width: 75%;
  }
  .video-js{
    height: 320px;
  }
  .loggedin .main-content.single{
    padding-right: 5px;
  }
  .trending-page .video-block .video-part{
    width: 200px;
    min-width: 200px;
    padding-top: 140px;
  }
}
@media screen and (max-width: 767px) {
  .site-header .navbar-brand img{
    max-height: 60px;
  }
  .header-top{
    padding: 7px 15px;
  }
  .header-bottom{
    padding: 15px;
  }
  .site-header .navbar-brand{
    left: 15px;
    top: 50%;
    margin-top: -30px;
  }
  .login-form h4{
    font-size: 14px;
    width: 100%;
    max-width: 400px;
  }
  .login-form{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 75px;
  }
  .login-form .form-field{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .login-form .form-control{
    margin-right: 0;
    width: 150px;
    font-size: 13px;
    padding: 5px;
    line-height: 18px;
  }
  .login-form .form-control:first-child{
    margin-right: 5px;
  }
  .login-form .btn{
    margin: 0 5px;
  }
  aside.twitter-sidebar{
    display: none;
  }
  .sidebar-menu{
    top: auto;
    width: 100%;
    padding: 10px 15px;
    -ms-flex-flow: row;
    flex-flow: row;
    justify-content: center;
    font-size: 14px;
    border-top: 1px solid #eee;
    z-index: 1049;
  }
  .sidebar-menu a{
    font-size: 14px;
  }
  .sidebar-menu ul{
    margin-bottom: 0;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .sidebar-menu ul li{
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    margin: 0;
    padding: 0 3px;
  }
  .sidebar-menu a i{
    display: block;
    margin: auto;
    margin-bottom: 3px;
    font-size: 20px;
  }
  .login-header{
    padding: 10px 15px;
  }
  .login-header .navbar-brand{
    width: 60px;
    margin: 0;
    padding: 0;
  }
  .search-option{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    bottom: 0;
    z-index: 1;
    display: none;
  }
  .search-option .search-form{
    background-color: #fff;
    padding: 15px 45px;
  }
  .search-option .search-form .search-icon{
    right: 10px;
    top: 20px;
  }
  .search-option .close-search{
    position: absolute;
    top: 20px;
    left: 15px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 0;
  }
  .right-option{
    width: auto;
    margin-left: auto;
  }
  .notification .dropdown-menu{
    width: 300px;
    margin-right: -70px;
    min-width: inherit;
    transform: none !important;
    left: auto !important;
    right: 0 !important;
  }
  .user-menu .dropdown-menu{
    margin-right: -30px;
    margin-top: 40px;
  }

  .loggedin .main-content{
    padding: 90px 0 70px 0;
  }
  .main-content h2{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .video-slider .slick-slide, .recomendado-slider .slick-slide{
    margin-right: 0;
  }
  .video-slider .slick-arrow{
    top: -55px;
  }
  .video-slider .slick-arrow.slick-next, .recomendado-slider .slick-arrow.slick-next{
    right: 0;
  }
  .video-slider .slick-arrow.slick-prev, .recomendado-slider .slick-arrow.slick-prev{
    right: 40px;
  }
  .recomendado-slider .slick-arrow{
    top: -50px;
  }
  .main-content h2 .icon{
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  .loggedin .main-content.single{
    padding: 90px 0 70px 0;
  }
  .single-video-page h1{
    font-size: 20px;
  }
  .video-information .info{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .video-information .info .info-text{
    width: 100%;
  }
  .video-information .info .info-menu{
    width: 100%;
    margin-top: 10px;
  }
  .channel-information .icon, .comment-box .comment-user-icon{
    width: 40px;
    min-width: 40px;
  }
  .comment-box .comment-user-icon img{
    width: 40px;
    height: 40px;
  }
  .video-block{
    margin-bottom: 20px;
  }
  .trending-page .video-block .video-part{
    width: 120px;
    min-width: 120px;
    padding-top: 120px;
  }
  .trending-page .video-block .video-detail{
    padding-left: 15px;
    padding-right: 0;
  }
  .trending-page .video-block .video-detail .video-desc{
    margin-top: 5px;
  }
  .trending-page .video-block .video-part .video-time{
    right: 5px;
    bottom: 5px;
  }
}
@media screen and (max-width: 520px) {
  .login-form .form-field{
    justify-content: flex-end;
  }
  .login-form .btn{
    margin-right: 0;
    margin-top: 5px;
    width: 100%;
    max-width: 100px;
  }
  .social-icon{
    width: 30px;
    height: 30px;
  }
  .header-bottom{
    padding: 10px 15px;
  }
  .site-header .navbar-brand{
    margin-top: 0;
    top: 25px;
  }
  .trending-page .video-block{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .trending-page .video-block .video-part{
    width: 100%;
    min-width: 100%;
    padding-top: 56%;
  }
  .trending-page .video-block .video-detail{
    padding-left: 0;
    padding-top: 15px;
  }
}
@media screen and (max-width: 413px) {
  .video-js{
    height: 220px;
  }
  .login-form .form-control{
    width: 105px;
  }
}