{% load static %}
{% load url_resolver %}
 <div class="sidebar-menu">
    <button class="menu-btn d-none d-md-block"><i class="fal fa-bars"></i></button>
    <a class="navbar-brand d-none d-md-block" href="/"> <img src="{% static 'css/logo.png' %}" alt="Logo" /> </a>
    <ul class="menu">
      <li><a href="/users/dashboard"> <i class="fal fa-home-lg-alt"></i> Inicio</a></li>
      <li><a href="/users/trending"> <i class="fal fa-fire"></i> Tendencia</a></li>
      <li><a href="/users/channels"> <i class="fal fa-album-collection"></i> Canales</a></li>
      <li><a href="#"> <i class="fal fa-book-alt"></i> Libreria</a>
        <ul class="sub-menu">
          {% area_list as areas %}
            {% for area in areas %}
              <li><a href="/users/library/area/{{area.id}}"> {{area.name|title}}</a>
                <ul class="sub-menu">
                  {% for subject in area.subject_set.all %}
                    <li><a href="/users/library/subject/{{subject.id}}">{{subject.name|title}}</a>
                      <ul class="sub-menu">
                        {% for topic in subject.topic_set.all %}
                          <li><a href="/users/library/topic/{{topic.id}}"> {{topic.name|title}}</a>
                            <ul class="sub-menu">
                              {% for subtopic in topic.subtopic_set.all %}
                                <li><a href="/users/library/subtopic/{{subtopic.id}}"> {{subtopic.name|title}}</a></li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
        </ul>
      </li>
    </ul>
    <ul class="menu d-none d-md-block">
      <li><a href="/users/dashboard/history"> <i class="fal fa-folder"></i> History</a></li>
      <li><a href="/users/dashboard/favorites"> <i class="fal fa-heart"></i> Favoritos</a></li>
    </ul>
  </div>

  <script type="text/javascript">
    
  </script>