{% load static %}
{% load i18n %}
<header class="login-header d-flex align-items-center site-header">
    <a class="navbar-brand" href="/"> <img src="{% static 'css/logo.png' %}" alt="Logo" /> </a>
    <div class="search-option">
      <div class="share-popup-backdrop d-md-none"></div>
      <form method="get" action="/users/search/" class="search-form">
        <input type="text" placeholder="{% trans 'Search' %}..." class="form-control" name="q", id="search" value="{{request.GET.q}}">
        <button type="submit" class="search-icon"><i class="far fa-search"></i></button>
        <a href="javascript:void(0);" class="close-search d-md-none"><i class="fal fa-long-arrow-left"></i></a>
      </form>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#extraSearchOptions">{% trans 'Extra Search' %}</a>
    </div>

    

    <div class="right-option d-flex justify-content-end">
      <ul class="list-inline mb-0 d-flex align-items-center">
        <li class="list-inline-item">
          <button class="open-search d-md-none"><i class="fal fa-search"></i></button>
        </li>
        <li class="list-inline-item">
          <form class="language-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                <select name="language" onchange="this.form.submit()">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.code }}
                        </option>
                    {% endfor %}
                </select>
                <!-- <input type="submit" value="Go" /> -->
            </form>
        </li>
        <li class="list-inline-item dropleft d-none d-md-block">
          <a href="javascript:void(0);" class="grid-icon dropdown-toggle" id="links" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fal fa-ellipsis-v"></i><i
              class="fal fa-ellipsis-v"></i><i class="fal fa-ellipsis-v"></i></a>
          <div class="dropdown-menu" aria-labelledby="links">
            <div class="user-link">
              <a href="/users/channels"><i class="fal fa-album-collection"></i> {% trans 'Channels' %}</a>
              <a href="/"><i class="fas fa-home"></i> {% trans 'Home' %}</a>
              
            </div>
          </div>
        </li>
        <li class="list-inline-item notification dropleft">
          <button type="button" class="dropdown-toggle" id="notificationBtn" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><span><i class="far fa-bell"></i></span>
            <span class="notification-count">26</span></button>
          <div class="dropdown-menu" aria-labelledby="notificationBtn">
            <h3>{% trans 'Notification' %}</h3>
            <div class="notification-list">
              <a href="#" class="notification-block">
                <div class="icon"><img class="profile-pic" src="/static/images/user.jpg" alt="User"></div>
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  <strong>dropdown</strong> menu within</div>
              </a>
              <a href="#" class="notification-block">
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  <strong>dropdown</strong> menu within</div>
              </a>
              <a href="#" class="notification-block">
                <div class="icon"><img class="profile-pic" src="/static/images/user.jpg" alt="User"></div>
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  <strong>dropdown</strong> menu within</div>
              </a>
              <a href="#" class="notification-block">
                <div class="icon"><img class="profile-pic" src="/static/images/user.jpg" alt="User"></div>
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  <strong>dropdown</strong> menu within</div>
              </a>
              <a href="#" class="notification-block">
                <div class="icon"><img class="profile-pic" src="/static/images/user.jpg" alt="User"></div>
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  <strong>dropdown</strong> menu within</div>
              </a>
              <a href="#" class="notification-block">
                <div class="icon"><img class="profile-pic" src="/static/images/user.jpg" alt="User"></div>
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  dropdown menu within</div>
              </a>
              <a href="#" class="notification-block">
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  dropdown menu within</div>
              </a>
              <a href="#" class="notification-block">
                <div class="icon"><img class="profile-pic" src="/static/images/user.jpg" alt="User"></div>
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  dropdown menu within</div>
              </a>
              <a href="#" class="notification-block">
                <div class="icon"><img class="profile-pic" src="/static/images/user.jpg" alt="User"></div>
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  dropdown menu within</div>
              </a>
              <a href="#" class="notification-block">
                <div class="icon"><img class="profile-pic" src="/static/images/user.jpg" alt="User"></div>
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  dropdown menu within</div>
              </a>
              <a href="#" class="notification-block">
                <div class="icon"><img class="profile-pic" src="/static/images/user.jpg" alt="User"></div>
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  dropdown menu within</div>
              </a>
              <a href="#" class="notification-block">
                <div class="icon"><img class="profile-pic" src="/static/images/user.jpg" alt="User"></div>
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  dropdown menu within</div>
              </a>
              <a href="#" class="notification-block">
                <div class="icon"><img class="profile-pic" src="/static/images/user.jpg" alt="User"></div>
                <div class="notification-text">Wrap the dropdown’s toggle (your button or link) and the
                  dropdown menu within</div>
              </a>
            </div>
          </div>

        </li>
        <li class="list-inline-item user-menu dropleft">
          <a href="javascript:void(0);" class="dropdown-toggle" id="profileBtn" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><img class="profile-pic" src="{% static 'images/user.png' %}" alt="{{ request.user.username }}"></a>
          <div class="dropdown-menu" aria-labelledby="profileBtn">
            <div class="user-info">
              <div class="icon"><img class="profile-pic" src="{% static 'images/user.png' %}" alt="{{ request.user.username }}"></div>
              <div class="user-details"><span>{{ request.user.username }}</span> <span class="email">{{ request.user.email }}</span> <a href="#">{% trans 'Manage your account' %}</a></div>
            </div>
            <div class="user-link">
              <a href="/users/dashboard"><i class="fas fa-tachometer"></i> {% trans 'Dashboard' %}</a>
              <a href="/users/dashboard/profile"><i class="fas fa-user"></i> {% trans 'Profile' %}</a>
              <a href="/users/dashboard/logout"><i class="fal fa-sign-out"></i> {% trans 'Logout' %}</a>
            </div>
          </div>
        </li>
      </ul>
    </div>


</header>