{% load static %}
{% load i18n %}
<!-- extra search options modal -->
  <div class="modal fade" id="extraSearchOptions" tabindex="-1" role="dialog" aria-labelledby="extraSearchOptionsTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{% trans "More search options" %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="get" action="/users/search/" class="extra-search-form">
            <div class="form-group">
              <label class="col-form-label">{% trans 'Subject' %}:</label>
              <input type="text" class="form-control" name="subject">
            </div>
            <div class="form-group">
              <label class="col-form-label">{% trans 'Topic' %}:</label>
              <input type="text" class="form-control" name="topic">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">{% trans 'Published Year' %}:</label>
              <input type="number" class="form-control" name="publish_year" id="id_publish_year" min="0">
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">{% trans 'Publish In' %}:</label>
              <input type="text" class="form-control" name="publish_range" id="id_publish_range" autocomplete="off">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                <button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
<link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css' %}" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script type="text/javascript">
  $(function() {
    es_locale = {
        "format": 'DD/MM/YYYY hh:mm A',
        "cancelLabel": 'Clear',
        "applyLabel": "Apply",
        "cancelLabel": "Cancel",
        "fromLabel": "From",
        "toLabel": "To",
        "customRangeLabel": "Custom",
        "weekLabel": "W",
        "daysOfWeek": [
            "dom",
            "lu",
            "mar",
            "mié",
            "jue",
            "vie",
            "sáb"
        ],
        "monthNames": [
            "enero",
            "febrero",
            "marzo",
            "abril",
            "Mayo",
            "junio",
            "julio",
            "agosto",
            "septiembre",
            "octubre",
            "noviembre",
            "diciembre"
        ],
      }
    en_locale = {
        "format": 'DD/MM/YYYY hh:mm A',
        "cancelLabel": 'Clear',
        "applyLabel": "Apply",
        "cancelLabel": "Cancel",
        "fromLabel": "From",
        "toLabel": "To",
        "customRangeLabel": "Custom",
        "weekLabel": "W",
        "daysOfWeek": [
            "Su",
            "Mo",
            "Tu",
            "We",
            "Th",
            "Fr",
            "Sa"
        ],
        "monthNames": [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"
        ],
      }
    locale = en_locale
    {% get_current_language as LANGUAGE_CODE %}
    if("{{LANGUAGE_CODE}}" == 'es'){
      locale = es_locale
    }
    
    $('#id_publish_range').daterangepicker({
      timePicker: true,
      opens: 'left',
      showDropdowns: true,
      autoUpdateInput: false,
      language: 'es',
      locale: locale,


    })

    $('#id_publish_range').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY hh:mm A') + ' - ' + picker.endDate.format('DD/MM/YYYY hh:mm A'));
    });

    $('#id_publish_range').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
    $(".extra-search-form").submit(function(e){
      e.preventDefault()
      query = "?"
      $(".extra-search-form").serializeArray().forEach(function(q){
        if(q.value != "" && q.value != undefined){
          query = query+q.name+"="+q.value+"&"
        }
        
      })
      if(query.length > 1){
        location.href = $(this).attr('action')+query
      }
    })


  })
</script>