{% load static %}
{% load i18n %}
{% if request.user.is_authenticated %}
<header class="login-header d-flex align-items-center site-header">
  <a class="navbar-brand" href="/"> <img src="{% static 'css/logo.png' %}" alt="Logo" /> </a>

   {% include 'dashboard_header.html' %}
{% else %}
<header class="site-header">
   <a class="navbar-brand" href="/"> <img src="{% static 'css/logo.png' %}" alt="Logo" /> </a>
    <div class="header-top d-flex w-100">
      <form class="login-form" action="{% url 'us-login' %}" id="loginForm" method="post">
         {% csrf_token %}
        <h4>{% trans 'Associated Access' %}</h4>
        <div class="form-field d-flex">
          <input type="email" id="email" placeholder="Usuario" name="email" class="form-control">
          <input type="password" id="password"  name="password" placeholder="contraseña" class="form-control">
          <button type="submit" class="btn">{% trans 'Enter' %}</button>
        </div>
        
      </form>

      <form class="language-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
        <select name="language" onclick="this.form.submit()">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <!-- <input type="submit" value="Go" /> -->
    </form>

    </div>
    <div class="header-bottom d-flex w-100">
      <ul class="list-inline mb-0 ml-auto">
        <li class="list-inline-item">
            {% if settings.site_settings.SocialMediaSettings.facebook %}
          <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}" class="social-icon" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </li>
        {% endif %}
        <li class="list-inline-item">
          {% if settings.site_settings.SocialMediaSettings.twitter %}
          <a href="{{ settings.site_settings.SocialMediaSettings.twitter }}" class="social-icon" target="_blank"><i class="fab fa-twitter"></i></a>
          {% endif %}
        </li>
      </ul>
    </div>
  
{% endif %}
</header>