{% load static %}
{% load duration_field i18n %}
{% load file_size %}
{% if media.scope == 'Public'%}
<div class="col-md-6 videoBox">
	<a href="{% if media.duration %}{% url 'video_detail' media.id %} {% else %}{% if media.is_image  %} {% url 'image_detail' media.id %} {% else %} {% url 'document_detail' media.id %}{% endif %}{% endif %}" class="video-block w-100">
		<div class="video-part">
			<img class="thumbnail" src="/media/{{media.thumbnail}}" alt="img">
			{% if media.duration %}
			<span class="video-time">{{ media.duration |duration_field}}</span>
			{% else %}
			<span class="video-time">{{ media.file_size |convert_size}}</span>
			{% endif %}
		</div>
		<div class="video-detail">
			<h3>{{media.title|truncatechars:100}}</h3>
			<div class="video-meta">
				<span class="total-views">{{media.views}} {% trans 'views' %}</span>
				<span class="post-date">{{ media.created_at|timesince }} {% trans 'ago' %}</span>
			</div>
		</div>
	</a>
</div>
{% endif %}