{% extends "wagtailadmin/admin_base.html" %}
{% load wagtailadmin_tags wagtailcore_tags i18n url_resolver %}

{% block furniture %}
    {% if not request|is_popup %}
    <aside class="nav-wrapper" data-nav-primary>
        <div class="inner">
            <a href="{% url 'wagtailadmin_home' %}" class="logo" aria-label="{% trans 'Dashboard' %}">
                {% block branding_logo %}
                    <div class="wagtail-logo-container__mobile u-hidden@sm">
                        <img class="wagtail-logo wagtail-logo__full" src="{% versioned_static 'images/logo.png' %}" alt="Administration" width="80" />
                    </div>
                    <div class="wagtail-logo-container__desktop u-hidden@xs">
                        <img class="wagtail-logo wagtail-logo__body" src="{% versioned_static 'images/logo.png' %}" alt="Administration" width="80"/>
                    </div>

                {% endblock %}
                <span class="u-hidden@sm">{% trans "Dashboard" %}</span>
            </a>

            {% menu_search %}
            {% main_nav %}

        </div>
        <div class="explorer__wrapper" data-explorer-menu></div>
    </aside>
    {% endif %}
    <main class="content-wrapper" role="main">
        <div class="content">
            {# Always show messages div so it can be appended to by JS #}
            <div class="messages">
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li class="{% message_tags message %}">{{ message|safe }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="messages">
                {% if form.errors %}
                    {% for field in form %}
                        <ul>
                            {% for error in field.errors %}
                                 <li class="warning">{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    <ul>
                        {% for error in form.non_field_errors %}
                             <li class="warning">{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% if not request|is_popup %}
                <div id="nav-toggle" class="nav-toggle icon text-replace">{% trans "Menu" %}</div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </main>
    <style type="text/css">
        {% if request|is_popup %}
            .wrapper {
                    transform: none;
                    padding-left: 0px !important;
                }
        {% endif %}
    </style>
    <script type="text/javascript">
        if(document.referrer.indexOf('_popup') != -1){
           window.top.close(); 
        }
    </script>
{% endblock %}

