{% extends 'dashboard_base.html' %}
{% load static %}
{% load url_resolver %}
{% load duration_field %}
{% load file_size %}
{% block header %}
<header class="login-header d-flex align-items-center">
  {% include 'dashboard_header.html' %}
</header>
{% endblock %}
{% block body  %}    
    {% include 'dashboard_sidebar.html' %}
    <div class="main-content">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="row trending-page">
          <h2><i class="fal fa-album-collection"></i> Channel {{channel.title}}</h2>
            {% for media in medias %}
              <div class="col-md-6">
              {% if media.duration %}
                <a href="{% reverse_url homepage 'video_detail' media.id '/users/' %}" class="col-sm-12 video-block">
                  <div class="video-part">
                    <img class="thumbnail" src="{{ media.thumbnail.url }}" alt="img">
                    <span class="video-time">{{ media.duration|duration_field }}</span>
                  </div>
                  <div class="video-detail">
                    <h3 class="vidTitle"><i class="fa fa-video"></i> {{ media.title|safe}}></h3>
                    <div class="video-meta">
                      <span class="total-views">{{media.media_views.last.iviews}} views</span>
                      <span class="post-date">{{ media.created_at|timesince }} ago</span>
                    </div>

                    <div class="video-desc">
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                  </div>
                </a>
              {% else %}
                <a href="{% reverse_url homepage 'document_detail' media.id '/users/' %}" class="col-sm-12 video-block">
                  <div class="video-part">
                    <img class="thumbnail" src="{{ media.thumbnail.url }}" alt="img">
                    <span class="video-time">{{ media.file_size |convert_size}}</span>
                  </div>
                  <div class="video-detail">
                    <h3 class="vidTitle"><i class="fa fa-file"></i> {{ media.title|safe}}></h3>
                    <div class="video-meta">
                      <span class="total-views">{{media.media_views.last.iviews}} views</span>
                      <span class="post-date">{{ media.created_at|timesince }} ago</span>
                    </div>
                    <div class="video-desc">
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                  </div>
                </a>
              {% endif %}
            </div>
            {% endfor %}
            
          
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
