{% extends 'dashboard_base.html' %}
{% load static %}
{% load duration_field %}
{% block header %}
<header class="login-header d-flex align-items-center">
  {% include 'dashboard_header.html' %}
</header>
{% endblock %}


{% block body  %}    
    {% include 'dashboard_sidebar.html' %}
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>
            <div class="icon"><img src="{% static 'images/user.png' %}" alt="User"></div> {{request.user.username}}
          </h2>
          <div class="video-slider w-100">
            {% for loop_cycle in self.carousel_videos.all %}
            {% with loop_cycle.carousel_video as video %}
            <a href="/watch/{{video.id}}/" class="video-block">
              <div class="video-part">
                <img class="thumbnail" src="{{ video.thumbnail.url }}" alt="img">
                <span class="video-time">{{ video.duration|duration_field }}</span>
              </div>
              <div class="video-detail">
                <p class="vidTitle">{{ video.title|safe}}</p>
                <div class="video-meta">
                  <span class="total-views">34k views</span>
                  <span class="post-date">{{ video.created_at|timesince }} ago</span>
                  <span class="postby">Gussie French</span>
                </div>
              </div>
            </a>
            {% endwith %}
            {% endfor %}
          </div>
        </div>
        
      </div>
    </div>
  </div>
  {% endblock %}
