{% extends 'dashboard_base.html' %}
{% load static %}
{% load duration_field i18n %}
{% load file_size %}
{% block header %}
<header class="login-header d-flex align-items-center">
  {% include 'dashboard_header.html' %}
</header>
{% endblock %}


{% block body  %}    
    {% include 'dashboard_sidebar.html' %}
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>
            <div class="icon"><img src="{% static 'images/user.png' %}" alt="User"></div> {{request.user.username}}
          </h2>
          <div class="video-slider w-100">
            {% for loop_cycle in self.carousel_media.all %}
              {% if loop_cycle.carousel_video %}
                  {% include 'media_template/index_horizontal.html' with media=loop_cycle.carousel_video %}
              {% endif %}
              {% if loop_cycle.carousel_document %}
                {% include 'media_template/index_horizontal.html' with media=loop_cycle.carousel_document %}
              {% endif %}

            {% endfor %}
          </div>
        </div>
        
      </div>
    </div>
  </div>
  {% endblock %}
