{% extends 'home_base.html' %}
{% load static i18n %}
{% block header %}
{% include 'home_header.html' %}
{% endblock %}


{% block body %}
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <aside class="col-lg-3 col-md-4 twitter-sidebar">
        <div class="twitter-holder">
          <a class="twitter-timeline" href="https://twitter.com/interejecutivos?ref_src=twsrc%5Etfw">Tweets by
          interejecutivos</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </aside>
      <div class="col-lg-9 col-md-4">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">{% trans "Forgot password instruction." %}</h2>
            <div class="row justify-content-center pt-4">
              <form class="col-sm-6 justify-content-center" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1">{% trans "Email address" %}</label>
                  <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">{% trans "You should get a forgot password link on your registered email address"%}.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}  
