{% extends 'home_base.html' %}
{% load static %}
{% load duration_field %}
{% load file_size %}
{% block header %}
{% include 'home_header.html' %}
{% endblock %}


{% block body %}
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <aside class="col-lg-3 col-md-4 twitter-sidebar">
        <div class="twitter-holder">
          <a class="twitter-timeline" href="https://twitter.com/interejecutivos?ref_src=twsrc%5Etfw">Tweets by
          interejecutivos</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </aside>
      <div class="col-lg-9 col-md-4">
        <div class="row">
          <div class="col-sm-12">
            <h2>Información Pública</h2>
            <div class="row">
                {% for loop_cycle in self.carousel_media.all %}
                  {% if loop_cycle.carousel_video %}
                    {% include 'media_template/home_index.html' with media=loop_cycle.carousel_video %}
                  {% endif %}
                  {% if loop_cycle.carousel_document %}
                    {% include 'media_template/home_index.html' with media=loop_cycle.carousel_document %}
                  {% endif %}

                  {% if loop_cycle.carousel_image %}
                    {% include 'media_template/home_index.html' with media=loop_cycle.carousel_image %}
                  {% endif %}

                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}  
