{% extends 'dashboard_base.html' %}
{% load hitcount_tags %}
{% load static %}
{% load i18n %}
{% load duration_field %}
{% load favorite_tags %}
{% block header %}
  {% include 'home_header.html' %}
{% endblock %}

{% block body %}
  {% if user.is_authenticated %} 
    {% include 'dashboard_sidebar.html' %}
  {% endif %}
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-lg-9 col-md-4 single-video-page">
          <div class="row">
            {% if not user.is_authenticated %} 
              <aside class="col-lg-3 col-md-4 twitter-sidebar">
                <div class="twitter-holder">
                  <a class="twitter-timeline" href="https://twitter.com/interejecutivos?ref_src=twsrc%5Etfw">Tweets by
                  interejecutivos</a>
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
              </aside>
              <div class="col-lg-9">
            {% else %}
              <div class="col-lg-12">
            {% endif %}
              <video class="video-js" controls preload="auto" poster="{{ video.thumbnail.url }}" data-setup="{}">
                <source src="{{ video.url }}" type="video/mp4">
              </video>

              <div class="video-information">
                <div class="tags">
                  {% for tag in video.tags.all %}
                    <a href="#">#{{tag.name}}</a>
                  {% endfor %}
                </div>
                <h1>{{video.title}}</h1>
                <div class="info">
                  <div class="info-text">
                    <span class="count">{{video.total_views}} {% trans 'views' %} </span>
                    <span class="date">{{ video.created_at }}</span>
                  </div>

                  <div class="info-menu">
                    <div class="like-action channel-subscribe">
                      
                      {% if user.is_authenticated %} 
                          <!-- for authenticated users -->
                          <button style="display:inline-flex" class="btn btn-outline-info">
                            <a id="download" href="{{video.url}}" Download style="text-decoration:None" class="footer_link">Download<i class="fa fa-download"></i></a>
                          </button>
                          <div style="display:inline-flex" class="fav-btn {% get_fav_notation video user %}"><i class="fas fa-heart"></i>{% get_fav_count video %} {%  get_fav video user %}</div>
                      {% else %}
                         <!-- for unauthenticated users -->
                         <div class="fav-btn {% get_nofav_notation video request %}"><i class="fas fa-heart"></i>{% get_fav_count video %} {% get_fav_nouser video request %}</div>
                      {% endif %}

                    </div>
                  </div>
                  
                </div>
                <div class="video-desc">
                      <p>{{video.synthesis}}</p>
                </div>
              </div>
              <div class="channel-information">
                <a href="#" class="icon"><img class="thumbnail" src="{% static 'images/clapperboard.png' %}" alt="img"></a>
                <div class="channel-details">
                  <div class="channel-name">
                    <a href="#">{{ video.channel.title }}</a>
                    
                  </div>
                  <div id="video-full-desp" class="video-full-desp">
                    <div class="video-description">
                      <p>{{ video.channel.description }}</p>
                    </div>
                    <div class="video-other-info">
                      <ul>
                        <li><label>{% trans 'Title' %}</label> {{ video.channel.title }}</li>
                        <li><label>{% trans 'Created At' %}</label> {{ video.channel.created_at }}</li>
                        <li><label>{% trans 'Licensed by' %}</label>{{video.author}}</li>
                      </ul>
                    </div>

                  </div>
                  <a href="javascript:void(0);" class="readmore"><span class="more">{% trans 'Read More' %}</span> <span class="less">{% trans 'Read Less' %}</span>
                  </a>
                </div>
              </div>
              <div class="comment-block">
                {% with comments.count as comments_count %}
                  <div class="comment-meta">
                    <span class="comment_counter" data-count="{{comments_count}}">{% trans 'Comment' %} {{comments_count}}</span>
                  </div>
                {% endwith %}
                <div class="comment-box">
                  
                  <div class="comment-detail">
                   {% if commentable and request.user and request.user.is_authenticated %}
                      <form action="" method="post"  id="commentForm">
                        {% csrf_token %}
                        <textarea rows="1" class="comment-field" name="body" placeholder="Post Your Comment" required></textarea>
                        <input type="hidden"  name="content_type" value="Video">
                        <input type="hidden"  name="object_id" value="{{video.id}}">
                        <div class="button-group text-right">
                          <button type="submit" class="btn red">{% trans 'Comment' %}</button>
                        </div>
                      </form>
                   {% else %}
                    <span class="btn btn-info">{% trans 'Please login to post a comments' %} ...</span>
                   {% endif %} 
                  </div>
                </div>
                <ul class="comment-list">
                  {% if comments %}
                      {% for comment in comments %}
                        <li class="comment-box">
                          <div class="comment-user-icon">
                            <img src="{% static 'images/user.png' %}" alt="user">
                          </div>

                          <div class="comment-detail">
                            <h5><a href="#">{{comment.user.username|title}}</a> <span>{{comment.created}}</span></h5>
                            {{comment.body|linebreaks}}
                          </div>
                        </li>
                      {% endfor %}
                  {% else %}
                    <p> {% trans 'There are no comments Yet' %}</p>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 sidebar-right">
          {% if category_videos.count > 0 %}
           <h3>{% trans 'Next' %}</h3>
          {% else %}
            <h3>{% trans 'No Next Content' %}..</h3>
          {% endif %}
          {% for cat_video in category_videos %}
            <a href="{% url 'video_detail' cat_video.id %}" class="video-block">
              <div class="video-part">
                <img class="thumbnail" src="{{ cat_video.thumbnail.url }}" alt="img">
                <span class="video-time">{{cat_video.duration|duration_field}}</span>
              </div>
              <div class="video-detail">
                <h3>{{cat_video.title|safe}}</h3>
                <div class="video-meta">
                  <span class="postby">{{cat_video.author|title}}</span>
                  <span class="total-views">{{cat_video.media_views.last.iviews}} {% trans 'views' %}</span>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/fav.js' %}"></script>
<script>
  $(document).ready(function(){
    var commensts_html = '<li class="comment-box">\
                      <div class="comment-user-icon">\
                        <img src="/static/images/user.png" alt="user">\
                      </div>\
                      <div class="comment-detail">\
                        <h5><a href="#">{0}</a> <span>{1}</span></h5>\
                        {2}\
                        <div class="comment-action">\
                          <div class="like-action">\
                            <button type="button"><i class="fas fa-thumbs-up"></i> 10K</button>\
                            <button type="button"><i class="fas fa-thumbs-down"></i> 2K</button>\
                          </div>\
                        </div>\
                      </div>\
                    </li>'
    $('#commentForm').submit(function(e){
      e.preventDefault()
      let formData = new FormData($(this)[0])
      $.ajax({
        url: "{% url 'comment-add' %}",
        data: formData,
        type: 'POST',
        contentType: false,
        processData: false,
        success: function(response){
          console.log(response)
          if(response.code == 200){
            $(".comment-list").prepend(commensts_html.f(response.data.username, response.data.created, response.data.body))
            $('.comment-field').val('')
            var comments = parseInt($('.comment_counter').attr('data-count'))+1
            $('.comment_counter').text("Comment(s) "+comments)
          }
        }
      })
    })

    $('#download').click(function(){
      $.ajax({
        url: "{% url 'video-download' %}",
        data: {"title": "{{ video.title }}"},
        type: 'POST',
        success: function(response){
          if(response.code == 200){
            console.log('SUCCESS')
          }
        }
      })
    })



  })
  

 </script> 
{% endblock %}
