{% extends 'dashboard_base.html' %}
{% load hitcount_tags %}
{% load static %}
{% load i18n %}

{% block header %}
<header class="login-header d-flex align-items-center">
  {% include 'dashboard_header.html' %}
</header>
{% endblock %}

{% block body %}
{% include 'dashboard_sidebar.html' %}
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-9 single-video-page">
          <video class="video-js" controls preload="auto" poster="{{ video.thumbnail.url }}" data-setup="{}">
            <source src="{{ video.url }}" type="video/mp4">
          </video>
          <div class="video-information">
            <div class="tags">
              {% for tag in video.tags.all %}
                <a href="#">#{{tag.name}}</a>
              {% endfor %}
            </div>
            <h1>{{video.title}}</h1>
            <div class="info">
              <div class="info-text">
                <span class="count">3,443,773 views </span>
                <span class="date">{{ video.created_at }}</span>
              </div>
              <div class="info-menu">
                <div class="like-action">
                  <button type="button"><i class="fas fa-thumbs-up"></i> 10K</button>
                  <button type="button"><i class="fas fa-thumbs-down"></i> 2K</button>
                </div>
                <div class="share-option">
                  <button type="button" class="video-share"><i class="fas fa-share"></i> Share</button>
                  <div class="share-popup">
                    <div class="share-popup-backdrop"></div>
                    <div class="share-box">
                      <h4>Share <button class="close-share"><i class="fal fa-times"></i></button></h4>
                      <div class="copy-link"><span id="url-text"
                          class="url-text">file:///D:/Mahendra%20Saini/Project/GIT/Interejecutivos/interejecutivos-html/single.html</span>
                        <button class="copy-btn" type="button"><i class="fal fa-copy"></i></button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="channel-information">
            <a href="#" class="icon"><img class="thumbnail" src="{% static 'images/clapperboard.png' %}" alt="img"></a>
            <div class="channel-details">
              <div class="channel-name">
                <a href="#">{{ video.channel.title }}</a>
                <span>514K subscribers</span>
              </div>
              <div class="channel-subscribe">
                <button type="button" class="btn">Subscribe</button>
              </div>
              <div id="video-full-desp" class="video-full-desp">
                <div class="video-description">
                  <p>{{ video.channel.description }}</p>
                </div>
                <div class="video-other-info">
                  <ul>
                    <li><label>Title</label> {{ video.channel.title }}</li>
                    <li><label>Created At</label> {{ video.channel.created_at }}</li>
                    <li><label>Album</label> Testing User</li>
                    <li><label>Licensed by</label> Believe Music (on behalf of White Hill Music); venus_pub,
                      and 1 music rights societies</li>
                  </ul>
                </div>
              </div>
              <a href="javascript:void(0);" class="readmore"><span class="more">Read More</span> <span class="less">Read
                  Less</span>
              </a>
            </div>
          </div>
          <div class="comment-block">
            {% with comments.count as comments_count %}
              <div class="comment-meta">{{comments_count}} Comment{{comments_count|pluralize}}
                  <button type="button" class="dropdown-toggle" id="commentSorting"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sort"></i> Sort
                  By</button>
                <div class="sorting-menu dropdown-menu" aria-labelledby="commentSorting">
                  <a href="#">Top Comments</a>
                  <a href="#">Newest First</a>
                </div>
              </div>
            {% endwith %}
            <div class="comment-box">
              <div class="comment-user-icon">
                <img src="#" alt="">
              </div>
              <div class="comment-detail">
               {% if commentable and request.user and request.user.is_authenticated %}
                  <form method="post">
                    {% csrf_token %}
                    {{ form.body }}<br>
                    <div class="button-group text-right">
                      <button type="submit" class="btn red">Comment</button>
                    </div>
                  </form>
               {% else %}
                <span class="btn btn-info">Please login to post a comments ...</span>
               {% endif %} 
              </div>
            </div>
            <ul class="comment-list">
              {% if comments %}
                  {% for comment in comments %}
                    <li class="comment-box">
                      <div class="comment-user-icon">
                        <img src="{% static 'images/user.png' %}" alt="user">
                      </div>

                      <div class="comment-detail">
                        
                        
                        <h5><a href="#">{{comment.name}}</a> <span>{{comment.created}}</span></h5>
                        {{comment.body|linebreaks}}

                        <div class="comment-action">
                          <div class="like-action">
                            <button type="button"><i class="fas fa-thumbs-up"></i> 10K</button>
                            <button type="button"><i class="fas fa-thumbs-down"></i> 2K</button>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
              {% else %}
                <p> There are no comments Yet</p>
              {% endif %}
            </ul>
          </div>
          
        </div>
        <div class="col-lg-3 sidebar-right">
          {% if category_videos.count > 0 %}
           <h3>Next</h3>
          {% else %}
            <h3>No Next Content..</h3>
          {% endif %}
          {% for cat_video in category_videos %}
            <a href="/users/watch/{{cat_video.id}}/" class="video-block">
              <div class="video-part">
                <img class="thumbnail" src="{{ cat_video.thumbnail.url }}" alt="img">
                <span class="video-time">5.00</span>
              </div>
              <div class="video-detail">
                <h3>Informacion General 2019</h3>
                <div class="video-meta">
                  <span class="postby">Gussie French</span>
                  <span class="total-views">34k views</span>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
{% endblock %}
